@font-face {
  font-family: 'eep';
  src:  url('fonts/eep.eot?bi2j3a');
  src:  url('fonts/eep.eot?bi2j3a#iefix') format('embedded-opentype'),
    url('fonts/eep.ttf?bi2j3a') format('truetype'),
    url('fonts/eep.woff?bi2j3a') format('woff'),
    url('fonts/eep.svg?bi2j3a#eep') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eep' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin: auto 0;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.eden-activity:before {
  content: "\e900";
}
.eden-airplay:before {
  content: "\e901";
}
.eden-alert-circle:before {
  content: "\e902";
}
.eden-alert-octagon:before {
  content: "\e903";
}
.eden-alert-triangle:before {
  content: "\e904";
}
.eden-align-center:before {
  content: "\e905";
}
.eden-align-justify:before {
  content: "\e906";
}
.eden-align-left:before {
  content: "\e907";
}
.eden-align-right:before {
  content: "\e908";
}
.eden-anchor:before {
  content: "\e909";
}
.eden-aperture:before {
  content: "\e90a";
}
.eden-archive:before {
  content: "\e90b";
}
.eden-arrow-down-circle:before {
  content: "\e90c";
}
.eden-arrow-down-left:before {
  content: "\e90d";
}
.eden-arrow-down-right:before {
  content: "\e90e";
}
.eden-arrow-down:before {
  content: "\e90f";
}
.eden-arrow-left-circle:before {
  content: "\e910";
}
.eden-arrow-left:before {
  content: "\e911";
}
.eden-arrow-right-circle:before {
  content: "\e912";
}
.eden-arrow-right:before {
  content: "\e913";
}
.eden-arrow-up-circle:before {
  content: "\e914";
}
.eden-arrow-up-left:before {
  content: "\e915";
}
.eden-arrow-up-right:before {
  content: "\e916";
}
.eden-arrow-up:before {
  content: "\e917";
}
.eden-at-sign:before {
  content: "\e918";
}
.eden-award:before {
  content: "\e919";
}
.eden-bar-chart-2:before {
  content: "\e91a";
}
.eden-bar-chart:before {
  content: "\e91b";
}
.eden-battery-charging:before {
  content: "\e91c";
}
.eden-battery:before {
  content: "\e91d";
}
.eden-bell-off:before {
  content: "\e91e";
}
.eden-bell:before {
  content: "\e91f";
}
.eden-bluetooth:before {
  content: "\e920";
}
.eden-bold:before {
  content: "\e921";
}
.eden-book-open:before {
  content: "\e922";
}
.eden-book:before {
  content: "\e923";
}
.eden-bookmark:before {
  content: "\e924";
}
.eden-box:before {
  content: "\e925";
}
.eden-briefcase:before {
  content: "\e926";
}
.eden-calendar:before {
  content: "\e927";
}
.eden-camera-off:before {
  content: "\e928";
}
.eden-camera:before {
  content: "\e929";
}
.eden-cast:before {
  content: "\e92a";
}
.eden-check-circle:before {
  content: "\e92b";
}
.eden-check-square:before {
  content: "\e92c";
}
.eden-check:before {
  content: "\e92d";
}
.eden-chevron-down:before {
  content: "\e92e";
}
.eden-chevron-left:before {
  content: "\e92f";
}
.eden-chevron-right:before {
  content: "\e930";
}
.eden-chevron-up:before {
  content: "\e931";
}
.eden-chevrons-down:before {
  content: "\e932";
}
.eden-chevrons-left:before {
  content: "\e933";
}
.eden-chevrons-right:before {
  content: "\e934";
}
.eden-chevrons-up:before {
  content: "\e935";
}
.eden-chrome:before {
  content: "\e936";
}
.eden-circle:before {
  content: "\e937";
}
.eden-clipboard:before {
  content: "\e938";
}
.eden-clock:before {
  content: "\e939";
}
.eden-cloud-drizzle:before {
  content: "\e93a";
}
.eden-cloud-lightning:before {
  content: "\e93b";
}
.eden-cloud-off:before {
  content: "\e93c";
}
.eden-cloud-rain:before {
  content: "\e93d";
}
.eden-cloud-snow:before {
  content: "\e93e";
}
.eden-cloud:before {
  content: "\e93f";
}
.eden-code:before {
  content: "\e940";
}
.eden-codepen:before {
  content: "\e941";
}
.eden-coffee:before {
  content: "\e942";
}
.eden-command:before {
  content: "\e943";
}
.eden-compass:before {
  content: "\e944";
}
.eden-copy:before {
  content: "\e945";
}
.eden-corner-down-left:before {
  content: "\e946";
}
.eden-corner-down-right:before {
  content: "\e947";
}
.eden-corner-left-down:before {
  content: "\e948";
}
.eden-corner-left-up:before {
  content: "\e949";
}
.eden-corner-right-down:before {
  content: "\e94a";
}
.eden-corner-right-up:before {
  content: "\e94b";
}
.eden-corner-up-left:before {
  content: "\e94c";
}
.eden-corner-up-right:before {
  content: "\e94d";
}
.eden-cpu:before {
  content: "\e94e";
}
.eden-credit-card:before {
  content: "\e94f";
}
.eden-crop:before {
  content: "\e950";
}
.eden-crosshair:before {
  content: "\e951";
}
.eden-database:before {
  content: "\e952";
}
.eden-delete:before {
  content: "\e953";
}
.eden-disc:before {
  content: "\e954";
}
.eden-dollar-sign:before {
  content: "\e955";
}
.eden-download-cloud:before {
  content: "\e956";
}
.eden-download:before {
  content: "\e957";
}
.eden-droplet:before {
  content: "\e958";
}
.eden-edit-2:before {
  content: "\e959";
}
.eden-edit-3:before {
  content: "\e95a";
}
.eden-edit:before {
  content: "\e95b";
}
.eden-external-link:before {
  content: "\e95c";
}
.eden-eye-off:before {
  content: "\e95d";
}
.eden-eye:before {
  content: "\e95e";
}
.eden-facebook:before {
  content: "\e95f";
}
.eden-fast-forward:before {
  content: "\e960";
}
.eden-feather:before {
  content: "\e961";
}
.eden-figma:before {
  content: "\e962";
}
.eden-file-minus:before {
  content: "\e963";
}
.eden-file-plus:before {
  content: "\e964";
}
.eden-file-text:before {
  content: "\e965";
}
.eden-file:before {
  content: "\e966";
}
.eden-film:before {
  content: "\e967";
}
.eden-filter:before {
  content: "\e968";
}
.eden-flag:before {
  content: "\e969";
}
.eden-folder-minus:before {
  content: "\e96a";
}
.eden-folder-plus:before {
  content: "\e96b";
}
.eden-folder:before {
  content: "\e96c";
}
.eden-frown:before {
  content: "\e96d";
}
.eden-gift:before {
  content: "\e96e";
}
.eden-git-branch:before {
  content: "\e96f";
}
.eden-git-commit:before {
  content: "\e970";
}
.eden-git-merge:before {
  content: "\e971";
}
.eden-git-pull-request:before {
  content: "\e972";
}
.eden-github:before {
  content: "\e973";
}
.eden-gitlab:before {
  content: "\e974";
}
.eden-globe:before {
  content: "\e975";
}
.eden-grid:before {
  content: "\e976";
}
.eden-hard-drive:before {
  content: "\e977";
}
.eden-hash:before {
  content: "\e978";
}
.eden-headphones:before {
  content: "\e979";
}
.eden-heart:before {
  content: "\e97a";
}
.eden-help-circle:before {
  content: "\e97b";
}
.eden-home:before {
  content: "\e97c";
}
.eden-image:before {
  content: "\e97d";
}
.eden-inbox:before {
  content: "\e97e";
}
.eden-info:before {
  content: "\e97f";
}
.eden-instagram:before {
  content: "\e980";
}
.eden-italic:before {
  content: "\e981";
}
.eden-key:before {
  content: "\e982";
}
.eden-layers:before {
  content: "\e983";
}
.eden-layout:before {
  content: "\e984";
}
.eden-life-buoy:before {
  content: "\e985";
}
.eden-link-2:before {
  content: "\e986";
}
.eden-link:before {
  content: "\e987";
}
.eden-linkedin:before {
  content: "\e988";
}
.eden-list:before {
  content: "\e989";
}
.eden-loader:before {
  content: "\e98a";
}
.eden-lock:before {
  content: "\e98b";
}
.eden-log-in:before {
  content: "\e98c";
}
.eden-log-out:before {
  content: "\e98d";
}
.eden-mail:before {
  content: "\e98e";
}
.eden-map-pin:before {
  content: "\e98f";
}
.eden-map:before {
  content: "\e990";
}
.eden-maximize-2:before {
  content: "\e991";
}
.eden-maximize:before {
  content: "\e992";
}
.eden-meh:before {
  content: "\e993";
}
.eden-menu:before {
  content: "\e994";
}
.eden-message-circle:before {
  content: "\e995";
}
.eden-message-square:before {
  content: "\e996";
}
.eden-mic-off:before {
  content: "\e997";
}
.eden-mic:before {
  content: "\e998";
}
.eden-minimize-2:before {
  content: "\e999";
}
.eden-minimize:before {
  content: "\e99a";
}
.eden-minus-circle:before {
  content: "\e99b";
}
.eden-minus-square:before {
  content: "\e99c";
}
.eden-minus:before {
  content: "\e99d";
}
.eden-monitor:before {
  content: "\e99e";
}
.eden-moon:before {
  content: "\e99f";
}
.eden-more-horizontal:before {
  content: "\e9a0";
}
.eden-more-vertical:before {
  content: "\e9a1";
}
.eden-mouse-pointer:before {
  content: "\e9a2";
}
.eden-move:before {
  content: "\e9a3";
}
.eden-music:before {
  content: "\e9a4";
}
.eden-navigation-2:before {
  content: "\e9a5";
}
.eden-navigation:before {
  content: "\e9a6";
}
.eden-octagon:before {
  content: "\e9a7";
}
.eden-package:before {
  content: "\e9a8";
}
.eden-paperclip:before {
  content: "\e9a9";
}
.eden-pause-circle:before {
  content: "\e9aa";
}
.eden-pause:before {
  content: "\e9ab";
}
.eden-pen-tool:before {
  content: "\e9ac";
}
.eden-percent:before {
  content: "\e9ad";
}
.eden-phone-call:before {
  content: "\e9ae";
}
.eden-phone-forwarded:before {
  content: "\e9af";
}
.eden-phone-incoming:before {
  content: "\e9b0";
}
.eden-phone-missed:before {
  content: "\e9b1";
}
.eden-phone-off:before {
  content: "\e9b2";
}
.eden-phone-outgoing:before {
  content: "\e9b3";
}
.eden-phone:before {
  content: "\e9b4";
}
.eden-pie-chart:before {
  content: "\e9b5";
}
.eden-play-circle:before {
  content: "\e9b6";
}
.eden-play:before {
  content: "\e9b7";
}
.eden-plus-circle:before {
  content: "\e9b8";
}
.eden-plus-square:before {
  content: "\e9b9";
}
.eden-plus:before {
  content: "\e9ba";
}
.eden-pocket:before {
  content: "\e9bb";
}
.eden-power:before {
  content: "\e9bc";
}
.eden-printer:before {
  content: "\e9bd";
}
.eden-radio:before {
  content: "\e9be";
}
.eden-refresh-ccw:before {
  content: "\e9bf";
}
.eden-refresh-cw:before {
  content: "\e9c0";
}
.eden-repeat:before {
  content: "\e9c1";
}
.eden-rewind:before {
  content: "\e9c2";
}
.eden-rotate-ccw:before {
  content: "\e9c3";
}
.eden-rotate-cw:before {
  content: "\e9c4";
}
.eden-rss:before {
  content: "\e9c5";
}
.eden-save:before {
  content: "\e9c6";
}
.eden-scissors:before {
  content: "\e9c7";
}
.eden-search:before {
  content: "\e9c8";
}
.eden-send:before {
  content: "\e9c9";
}
.eden-server:before {
  content: "\e9ca";
}
.eden-settings:before {
  content: "\e9cb";
}
.eden-share-2:before {
  content: "\e9cc";
}
.eden-share:before {
  content: "\e9cd";
}
.eden-shield-off:before {
  content: "\e9ce";
}
.eden-shield:before {
  content: "\e9cf";
}
.eden-shopping-bag:before {
  content: "\e9d0";
}
.eden-shopping-cart:before {
  content: "\e9d1";
}
.eden-shuffle:before {
  content: "\e9d2";
}
.eden-sidebar:before {
  content: "\e9d3";
}
.eden-skip-back:before {
  content: "\e9d4";
}
.eden-skip-forward:before {
  content: "\e9d5";
}
.eden-slack:before {
  content: "\e9d6";
}
.eden-slash:before {
  content: "\e9d7";
}
.eden-sliders:before {
  content: "\e9d8";
}
.eden-smartphone:before {
  content: "\e9d9";
}
.eden-smile:before {
  content: "\e9da";
}
.eden-speaker:before {
  content: "\e9db";
}
.eden-square:before {
  content: "\e9dc";
}
.eden-star:before {
  content: "\e9dd";
}
.eden-stop-circle:before {
  content: "\e9de";
}
.eden-sun:before {
  content: "\e9df";
}
.eden-sunrise:before {
  content: "\e9e0";
}
.eden-sunset:before {
  content: "\e9e1";
}
.eden-tablet:before {
  content: "\e9e2";
}
.eden-tag:before {
  content: "\e9e3";
}
.eden-target:before {
  content: "\e9e4";
}
.eden-terminal:before {
  content: "\e9e5";
}
.eden-thermometer:before {
  content: "\e9e6";
}
.eden-thumbs-down:before {
  content: "\e9e7";
}
.eden-thumbs-up:before {
  content: "\e9e8";
}
.eden-toggle-left:before {
  content: "\e9e9";
}
.eden-toggle-right:before {
  content: "\e9ea";
}
.eden-trash-2:before {
  content: "\e9eb";
}
.eden-trash:before {
  content: "\e9ec";
}
.eden-trello:before {
  content: "\e9ed";
}
.eden-trending-down:before {
  content: "\e9ee";
}
.eden-trending-up:before {
  content: "\e9ef";
}
.eden-triangle:before {
  content: "\e9f0";
}
.eden-truck:before {
  content: "\e9f1";
}
.eden-tv:before {
  content: "\e9f2";
}
.eden-twitter:before {
  content: "\e9f3";
}
.eden-type:before {
  content: "\e9f4";
}
.eden-umbrella:before {
  content: "\e9f5";
}
.eden-underline:before {
  content: "\e9f6";
}
.eden-unlock:before {
  content: "\e9f7";
}
.eden-upload-cloud:before {
  content: "\e9f8";
}
.eden-upload:before {
  content: "\e9f9";
}
.eden-user-check:before {
  content: "\e9fa";
}
.eden-user-minus:before {
  content: "\e9fb";
}
.eden-user-plus:before {
  content: "\e9fc";
}
.eden-user-x:before {
  content: "\e9fd";
}
.eden-user:before {
  content: "\e9fe";
}
.eden-users:before {
  content: "\e9ff";
}
.eden-video-off:before {
  content: "\ea00";
}
.eden-video:before {
  content: "\ea01";
}
.eden-voicemail:before {
  content: "\ea02";
}
.eden-volume-1:before {
  content: "\ea03";
}
.eden-volume-2:before {
  content: "\ea04";
}
.eden-volume-x:before {
  content: "\ea05";
}
.eden-volume:before {
  content: "\ea06";
}
.eden-watch:before {
  content: "\ea07";
}
.eden-wifi-off:before {
  content: "\ea08";
}
.eden-wifi:before {
  content: "\ea09";
}
.eden-wind:before {
  content: "\ea0a";
}
.eden-x-circle:before {
  content: "\ea0b";
}
.eden-x-octagon:before {
  content: "\ea0c";
}
.eden-x-square:before {
  content: "\ea0d";
}
.eden-x:before {
  content: "\ea0e";
}
.eden-youtube:before {
  content: "\ea0f";
}
.eden-zap-off:before {
  content: "\ea10";
}
.eden-zap:before {
  content: "\ea11";
}
.eden-zoom-in:before {
  content: "\ea12";
}
.eden-zoom-out:before {
  content: "\ea13";
}
