@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body,
h1,
h2,
h3,
div,
ul,
li,
span,p,
input,
button,
table,
tr,
td,
th,
thead,
tbody,
tfoot,
caption {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Hind', sans-serif;
}

a:link,
a:visited {
    text-decoration: none;
    color: #333;
}

a:hover,
a:active {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

}

.wrapper {
    height: 100vh;
    position: absolute;
    top: 0;
    clear: both;
    width: 100%;
    min-width: 370px;
}
.container {
    font-family: 'Roboto', sans-serif;
    padding-left: 70px;
    }
    
.fixed{

}
/*header*/
#header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.header {
    background: #fff;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    min-height: 80px;
    border-bottom: 2px solid #111;
    align-items: center;
}

.logoDiv {
    margin-left: 90px;
}

.logoDiv h1 {}

.logoDiv h1 a {}

.logoDiv h1 a img {
    width: 200px;
}

.header .search {
    height: 50px;
    display: grid;
    grid-template-columns: 8fr 2fr;
    margin: 0 auto;
    align-items: center;
}
.header .search label{

}
.header .search a{
    float: left;
    font-size: 1.8em;
    color: #8b4ab8;
    font-weight: bold;
    display: grid;
    cursor: pointer;
}

.header .search input {
    border: 2px solid #8b4ab8;
    border-radius: 30px;
    height: 50px;
    font-size: 1em;
    color: #1d4482;
    width: 83%;
    padding: 4px 20px;
}


.header .search button {
    border: 2px solid #8b4ab8;
    border-left: 0;
    border-radius: 0 30px 30px 0;
    font-size: 18px;
    background: none;
    color: #8b4ab8;
}
.header .search button:hover{
    background: #8b4ab8;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

/**/
nav {
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    background-color: #1D4482;
    transform: translate3d(-200px, 0, 0);
    transition: transform 0.4s ease;
    width: 270px;
}

.nav-toggle-btn {
    display: block;
    position: absolute;
    left: 0px;
    width: 270px;
    height: 130px;
    background-color: #1D4482;
    cursor: pointer;
}

.nav-toggle-btn:hover {
    background: #092347;
    transition: 0.5s;
}

.nav-toggle-btn .eden-align-justify {
    font-size: 1.8em;
    color: #fff;
    position: absolute;
    bottom: 50px;
    right: 20px;
}

.active-nav nav {
    transform: translate3d(0, 0, 0);
}

nav .navCon {
    list-style: none;
    position: absolute;
    top: 130px;
    left: 0px;
    width: 270px;
    height: 100%;
    background: #1d4482; /* Old browsers */
    background: -moz-linear-gradient(top, #1d4482 1%, #8b4ab8 64%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1d4482 1%,#8b4ab8 64%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1d4482 1%,#8b4ab8 64%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d4482', endColorstr='#8b4ab8',GradientType=0 ); /* IE6-9 */
}

nav .menu {
    padding-top: 50px;
}

nav .menu li a {
    color: #fff;
}

.menu_tit {
    display: grid;
    grid-template-columns: 82% 18%;
    justify-content: center;
    align-content: center;
}

.menu_tit:hover {
    background: #092347;
    transition: 0.5s;
    cursor: pointer;
}

.menu_tit:hover li {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.menu_tit li {
    display: grid;
    font-size: 1.4em;
    line-height: 4;
}

.menu_tit li:last-child {
    text-align: right;
    padding-right: 50px;
}



.content {
    transition: transform 0.4s ease;
    height: 100%;

}

.container .content {
    margin-left: 50px;
    margin-top: 130px;
}

.header.content {
    height: 130px;
}

.active-nav .content {
    transform: translate3d(200px, 0, 0);
}

@media screen and (max-width: 1280px) {}

@media screen and (min-width:501px) and (max-width: 959px) {
    .container{
        padding-left: 50px;
    }
    .logoDiv h1 a img{
        width: 150px;
        margin-top: 20px;
    }
    nav{
        width: 200px;
    }
    .header .search input{
        height: 30px;
        width: 75%;
    }
    .nav-toggle-btn .eden-align-justify{
        font-size: 1em;
    }
    .menu_tit li{
        font-size: 1em;
    }
    .nav-toggle-btn .eden-align-justify{
        right: 16px;
    }
    .menu_tit li:last-child{
        padding-right: 16px;
    }

    .nav-toggle-btn {
        width: 250px;
    }

    .nav-toggle-btn:hover {
        color: #092347;
    }

    .active-nav .nav-toggle-btn {
        width: 200px;
        background:#1d4482;
    }
    .active-nav nav .navCon{
        width: 200px;
    }
    nav .navCon{
        width: 250px;
    }
}
@media screen and (max-width: 500px) {
    #header{
        position: inherit;
    }
    .container{
        padding-left: 0;
    }
    .header {
        width: 100%;
        display: block;
        height: 110px;
    }

    .header .search input {
        height: 25px;
        width: 150px;
        padding: 4px 10px;
    }
    .header .search a{
        width: fit-content;
        justify-content: right;
        float: right;
        padding-top: 7px;
    }

    .header .search {
        grid-template-columns: none;
        width: 210px;
        display: block;
    }
    .header .search label{
        float: left;
        height: 25px;
    }

    .header .search button {
        height: 35px;
        width: 30px;
    }
    .header .search input{
        height: 30px;
    }

    .header.content {
        height: 70px;
    }
    nav{
        width: 0;
    }
    .active-nav nav{
        width: 130px;
    }

    .nav-toggle-btn {
        height: 120px;
        width: 240px;
        background: transparent;
    }

    .nav-toggle-btn:hover {
        background: transparent;
        color: #092347;
    }

    .active-nav .nav-toggle-btn {
        width: 130px;
        background:#1d4482;
    }

    nav .navCon {
        top: 110px;
    }

    nav .menu {
        padding-top: 20px;
    }

    .logoDiv {
        margin: 0 auto;
    }

    .logoDiv h1 {
        width: 120px;
        margin: 10px auto;
    }

    .logoDiv h1 a img {
        width: 120px;
    }

    .serBox {}

    .nav-toggle-btn .eden-align-justify {
        font-size: 1em;
        right: 10px;
        top: 65px;
        color: #092347;
    }

    .active-nav .nav-toggle-btn .eden-align-justify {
        color: #fff;
    }

    nav .navCon {
        width: 130px;
    }

    nav .menu li a i {
        font-size: 14px;
    }

    .menu_tit li {
        font-size: 14px;
    }

    .menu_tit li:last-child {
        padding-right: 13px;
    }
}