body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    min-width: 400px;
}

.content {}

.container .content {
    margin-left: 50px;
    width: 95%;
    margin: 0 auto;
}
.container .content h3{
    font-weight: bold;
    color: #1D4482;
    line-height: 3;
}
.container .content h3 i{
    margin-right: 18px;
}
/* tables01 */
.tables01 {
    margin-bottom: 50px;
    width: 100%;
}
.tables01 h3{
    color: #1D4482;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 1.6em;
    height: 70px;
}

.tables01 ul {
    float: right;
    color: #fff;
    margin-bottom: 10px;
}

.tables01 ul li {
  
}

.tables01 ul li i {
    float: left;
    padding: 7px 0 0 8px;
}

.tables01 ul li input {
    padding: 8px;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #fff;
    float: left;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.tables01 table {
    border: none;
    border-bottom: 2px solid #575a65;
    width: 100%;
}

.tables01 table tr {}

.tables01 table tr th {
    height: 40px;
    text-align: center;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
    /* border-top: 3px solid #20232a; */
    background: url(images/down-arrow.svg) 95% 50% no-repeat;
    background-size: 12px;
}

.tables01 table tr .num {
    background: none;
}


.tables01 table tr th:hover>select {
    cursor: pointer;
    color: #f98d78;
}

.tables01 table .col-1 th{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}


.num {
    width: 10px;
    font-size: 12px;
    font-weight: bold;
    color: #20232a;
}

.tables01 table tr th select {
    height: 100%;
    font-weight: bold;
    text-align: center;
    color: #20232a;
    cursor: pointer;
    font-size: 20px;

}
.tables01 table tr th select option{
 
}
.tables01 table tr th select option span{
    text-align: center;
}


.tables01 table tr th select option span {}
.tables01 table thead{

}
.tables01 table thead tr{
    line-height: 5;
}
.tables01 table tbody tr:hover{

}
.tables01 table tbody tr {
    font-size: 20px;
    height: 70px;
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    color: #575a65;
    line-height: 3;
}

.tables01 table tbody tr td:last-child,.col th:last-child,.col td:last-child{
    border-right:none;
}
.col-2 td{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: left;
}
.col-2 span{
    font-weight: bold;
}
.blockId span{
    font-size: 25px;
    
}

.tcount{
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    position: relative;
    top: -20px;
    background: #8b4ab8;
    font-size: 0.8em;
    /* border-top: none;
    border-bottom: none; */
}
.tc{
    text-align: right;
    font-size: 0.8em;
    vertical-align: middle;
    color: #8b4ab8
}
.tc i{
    vertical-align: middle;
}

.tables01 table tbody tr td,.tables01 table tbody tr th{
    /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
    word-break: break-word;
    white-space: normal;
    height: 70px;
    padding: 8px 20px;
    line-height: 1.6;
    font-size: 1.2em;
}
.tables01 table tbody tr td:hover,.tables01 table tbody tr th:hover{
    font-weight: bold;
}

.tables01 table tr td input {
    width: 95%;
    height: 30px;
    background: transparent;
    color: #575a65;
    border: none;
    border-bottom: 1px solid #20232a;
    text-align: center;
}

.styled-select {
    height: 29px;
    overflow: hidden;
    width: 240px;
}


.styled-select select {

    border: none;
    background-size: 15px;
    -webkit-appearance: none;
    /* 화살표 없애기 */
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;

}

.styled-select select::-ms-expand {
    display: none;
}
.tables01 table tbody tr:hover{

}
.tables01 table tbody tr th{
    /* background: #F2F7FC; */
}
.tables01 table tbody tr th{
}


.tables01 table tbody tr:hover td input {
    color: #fff;
    border-bottom: 1px solid #fff;
}

/*tbTit*/
.tables02{
    width: 97%;
    padding: 0px 0 30px 0;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.tbTit{
    width: 95%;
    border-bottom: 1px solid #282828;
    display: table;
    margin: 0 auto;
    padding: 20px 20px 20px 0;
}
.tables01 .tbTit>ul{
    width: 100%;
    float: left;
}
.tbTit ul li{
    color: #333;
    float: left;
}
.tbUl{
    line-height: 2.5;
    padding-top: 0px;
    display: table;
}
.tbTit ul .tit{
    font-weight: bold;
    padding: 0 20px;
    width: fit-content;
}

.tbTit ul .tit01{

}
.tbUl01{
    width: 100%;
}
.sbox{
    width: 100%;
    display: table;
}
.sbox ul{
    
}
.tbUl02{
    float: left;
    display: table-cell;
}
.tbUl02 .tit{}
.tbUl02 .con01{}
.tbUl03{
    float: right;
    display: table-cell;
}

.tbUl03 .tit{
    
}
.tbUl03 li:nth-child(even){
    
}
.tbUl03{}
.tbUl03 .tit{
    
}
.tbUl03 .con01{

}
.tbUl03 .con02{
    padding-left: 30px;
}

/*media query*/
@media screen and (max-width: 1280px) {}

@media screen and (max-width: 959px) {
    .container .content h3{
        line-height: 3;
    }
    .container .content h3 i{
        margin-right: 10px;
    }
    .tables01{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .tables01 h3{
        padding-left: 0px;
        height: 50px;
        font-size: 1em;
        }
    .tables01 h3 i{
        margin-right: 10px;
    }

    .tables01 table tbody{
    }
    .tables01 table tbody tr td, .tables01 table tbody tr th{
        padding: 5px 5px;
        line-height: 1.6;
        word-break: break-word;
        font-size: 0.8em;
        height: 0;
    }
    .blockId span{
        font-size: 0.8em;
    }
    .tables01 table{
        width: 100%;
    }
    .tables01 table tr td{
        line-height: 1.6;
        padding: 5px 10px;
    }
    .tables01 table tr .downInfo{
        font-size: 16px;
    }
}
@media screen and (max-width: 500px) {
    .container .content h3{
        line-height: 3;
    }
    .container .content h3 i{
        margin-right: 10px;
    }
    .tables01{
        width: 90%;
        margin: 0 auto;
        margin-bottom: 50px;
    }
    .tables01 h3{
        padding-left: 0px;
        height: 40px;
        font-size: 1em;
        }
    .tables01 h3 i{
        margin-right: 10px;
    }

    .tables01 table tbody{
    }
    .tables01 table tbody tr td, .tables01 table tbody tr th{
        padding: 5px 5px;
        line-height: 1.6;
        word-break: break-word;
        font-size: 0.5em;
        height: 0;
    }
    .blockId span{
        font-size: 0.5em;
    }
    .tables01 table{
        width: 100%;
    }
    .tables01 table tr td{
        line-height: 1.6;
        padding: 5px 10px;
    }
    .tables01 table tr .downInfo{
        font-size: 16px;
    }
}