/*header*/



/*detail 공통 s*/

.TransactionDetail {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    min-width: 370px;

    .header {
        background: #fff;
        display: grid;
        grid-template-columns: 35% 30% 35%;
        min-height: 80px;
        border-bottom: 2px solid #111;
        align-items: center;
    }
    
    .logoDiv {
        margin-left: 90px;
    }
    
    .logoDiv h1 {}
    
    .logoDiv h1 a {}
    
    .logoDiv h1 a img {
        width: 160px;
        margin-top: 15px;
    }
    .HeaderMenu {
        font-size: 16px;
    }
    .header .search {
        height: 50px;
        display: grid;
        grid-template-columns: 8fr 2fr;
        margin: 0 auto;
        align-items: center;
    }
    
    .header .search label {}
    
    .header .search a {
        float: left;
        font-size: 1.8em;
        color: #f98d78;
        font-weight: bold;
        display: grid;
        cursor: pointer;
    }
    
    .header .search input {
        border: 2px solid #f98d78;
        border-radius: 30px;
        height: 35px;
        font-size: 1em;
        color: #009688;
        width: 83%;
        padding: 4px 20px;
    }
    
    
    .header .search button {
        border: 2px solid #f98d78;
        border-left: 0;
        border-radius: 0 30px 30px 0;
        font-size: 18px;
        background: none;
        color: #f98d78;
    }
    
    .header .search button:hover {
        background: #f98d78;
        color: #fff;
        cursor: pointer;
        transition: 0.2s;
    }
     
     
     .content {
         transition: transform 0.4s ease;
         height: 100%;
     
     }
     .container{
         font-size: 14px;
         margin-bottom: 100px;
     }
     .container .content {
         width: 95%;
         margin: 0 auto;
     }
     .container .content h3{
       font-weight: bold;
       color: #333;
       line-height: 3;
       font-size: 1.2em;
     }
     .container .content h3 i{
       margin-right: 18px;
     }
     .container .content span{
       font-weight: 200;
       margin-left: 20px;
       border-left: 1px solid #333;
       padding-left: 20px;
     }
     
     .header.content {
         height: 130px;
         background: rgba(255,255,255,0.3);
     }
     // .active-nav .content {
     //     transform: translate3d(200px, 0, 0);
     // }
    
     ::-webkit-scrollbar {
         width: 6px;
     } 
     ::-webkit-scrollbar-track {
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     } 
     ::-webkit-scrollbar-thumb {
         -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
     }



    .container .fixed{
        padding-left: 40px;
    }
    .fixed h3{
        color: #333;
        font-size: 1.6em;
        font-weight: bold;
        line-height: 3;
    }
    .fixed h3 span{

    }
    .fixed h3 i{
        margin-right: 18px;
        font-size: 1.2em;
    }
    .fixed .detailBox{
        padding-left: 50px;
    }
    .fixed h4{
        font-size: 1.25em;
        color: #f98d78;
    }
    .fixed h4 span a{
      
    }
    .fixed h4 span a{
        color: #009688;
    }
    .fixed h4 span{
        display: none;
        padding: 2px 10px;
        border-radius: 15px;
        color: #009688;
        font-size: 0.6em;
        position: relative;
        top: -10px;
        border: 1px solid #009688;
    }
    .fixed h4 span:hover a{
        color: #fff;
    }
    .fixed h4 span:hover{
        color: #fff;
        background: #009688;
        transition: 0.2s;
        cursor: pointer;
    }

    .detailBox table{
        width: 700px;
        padding: 15px;
        margin-top: 15px;
        border-radius: 20px;
        font-size: 1.2em;
        background: #F7F7F7;
    }
    .detailBox table tr{
        height: 20px;
    }
    .detailBox table th{
        -webkit-box-shadow:  2px 0 10px -3px rgba(0,0,0,0.5);
        box-shadow: 4px 0 1px -3px rgba(0,0,0,0.5);
        line-height: 0;
        text-align: left;
        width: 16%;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: word-break;
        line-height: 1.2;
        padding-right: 10px;
    }
    .detailBox table td{
        width: 85%;
        padding-left: 25px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
    }
    .detailBox table td i{
        padding-left:10px;
    }

    .detailBox table td button{
        border: none;
        background:#009688;
        border: 1px solid #009688;
        color: #fff;
        margin-left: 20px;
        padding: 2px 8px;
        border-radius: 6px;
    }
    .detailBox table td button:hover{
        background:#fff;
        color: #009688;
        transition: 0.2s;
        border: 1px solid #009688;
        cursor: pointer;
    }

    // .active-nav .content {
    //     transform: translate3d(200px, 0, 0);
    // }
}

/*detail 공통 e*/


/*반응형*/

.TransactionDetail {

    @media screen and (max-width: 1400px) {}

    @media screen and (min-width: 501px) and (max-width: 959px) {
        .fixed h3{
            font-size: 1.2em;
            font-weight: bold;
            line-height: 3;
        }
        .fixed h3 span{
    
        }
        .fixed h3 i{
            margin-right: 10px;
            font-size: 1em;
        }
        .fixed .detailBox{
            padding-left: 30px;
        }
        .fixed h4{
            font-size: 1em;
            color: #f98d78;
        }
        .fixed h4 span{
        }
        .fixed h4 span a{
            font-size: 0.6em;
        }
    
        .detailBox table{
            font-size: 1em;
            width: 85%;
        }
        .detailBox table tr{
            height: 20px;
        }
        .detailBox table th{

            line-height: 1.6;
        }
        .detailBox table td{

        }
        .detailBox table td i{
            padding-left:10px;
        }
        /*detail 공통 s*/
        .container {
        }

        .logoDiv h1 a img {
            width: 150px;
            margin-top: 20px;
        }

        .header .search input {
            height: 30px;
            width: 75%;
        }

        /*detail 공통 e*/




    }

    @media screen and (max-width: 500px) {
  
            font-size: 16px;


        #header {
            position: inherit;
        }

        .container {
            padding-left: 0;
        }

        .header {
            width: 100%;
            display: block;
            height: 110px;
        }

        .header .search input {
            height: 25px;
            width: 150px;
            padding: 4px 10px;
        }

        .header .search a {
            width: fit-content;
            justify-content: right;
            float: right;
            padding-top: 7px;
        }

        .header .search {
            grid-template-columns: none;
            width: 210px;
            display: block;
        }

        .header .search label {
            float: left;
            height: 25px;
        }

        .header .search button {
            height: 35px;
            width: 30px;
        }

        .header .search input {
            height: 30px;
        }

        .header.content {
            height: 130px;
        }

        .logoDiv {
            margin: 0 auto;
        }

        .logoDiv h1 {
            width: 120px;
            margin: 10px auto;
        }

        .logoDiv h1 a img {
            width: 120px;
        }



        .container .fixed{
            padding-left: 0;
            width: 85%;
            margin: 0 auto;
        }
        .fixed h3{
            font-size: 1.2em;
            font-weight: bold;
            line-height: 3;
        }
        .fixed h3 span{
    
        }
        .fixed h3 i{
            margin-right: 10px;
            font-size: 1em;
        }
        .fixed .detailBox{
            padding-left: 0px;
            width: 100%;
            margin:  0 auto;
            margin-bottom: 50px;
        }
        .fixed h4{
            font-size: 1em;
            color: #f98d78;
            line-height: 1;
        }
        .fixed h4 span a{
            font-size: 0.6em;
        }
    
        .detailBox table{
            font-size: 1em;
            width: 100%;
        }
        .detailBox table tr{
            height: 20px;
        }
        .detailBox table th{

            line-height: 1.6;
        }
        .detailBox table td{

        }
        .detailBox table td i{
            padding-left:10px;
        }
        .detailBox table td button{
            margin-left: 0px;
        }
        /*detail 공통 s*/
        .container {
        }


 
        /*detail 공통 e*/






    }
}