/*container*/
.Footer {
    position: relative;
    bottom: 0;

    .footerCon{
        background: #F7F7F7;
        margin-left: 50px;
        padding: 50px 50px 50px 0;
        height: auto;
        display: grid;
        grid-template-columns: 40% 20% 20% 20%;
    }
    
    .footerCon .col{
        float: left;
    }
    .footerCon .col01{
        width: 100%;
    }
    .col .widget{
    
    }
    .col .widget h4{
        border-bottom: 2px solid #575a65;
        font-weight: 600;
        padding-bottom: 16px;
        font-size: 1em;
        line-height: 25px;
        letter-spacing: 2px;
        margin:10px 0;
    }
    .col #text-1{
        width: 70%;
        margin: 20px auto;
    }
    .col #text-1 p{
        font-size: 1em;
        margin: 40px 0;
    }
    .fMenu ul li, .widget05 p{
        font-size: 1em;
        margin: 7px 0;
    }
    .col #text-1 p img{
        width: 100px;
    }
    .col .widget{
        width: 70%;
        margin: 20px auto;
    }
    .col .bottom-edge{
        padding-top: 40px;
    }
    .widget05 button{
        border:2px solid rgba(0,150,136,1);
        color: rgba(0,150,136,1);
        padding: 5px 10px;
        font-size: 0.8em;
        font-weight: 700;
        background: transparent;
    }
    .widget05 button:hover{
        border:4px solid rgba(0,150,136,1);
        color: rgba(0,150,136,1);
        cursor: pointer;
        transition: 0.2s;
    }
    .widget05 button i{
        margin-top: 5px;
    }

    /*반응형*/
    @media screen and (max-width: 1200px){
        .footerCon{
            display: grid;
            grid-template-columns: 50% 50%;
    
        }
        .footerCon .col02{
            padding-bottom: 50px;
            padding-top: 22px;
        }
    }
    
    @media screen and (max-width: 1000px){
        .footerCon{
            margin-left: 50px;
            padding-left: 50px;
        }
        .col #text-1{
            width: 80%;
        }
        .col #text-1 p{
            font-size: 1em;
        }
        .col #text-1 p img{
            width: 65px;
        }
        .col .widget{
            width: 70%;
        }
        .col .widget h4{
            font-size: 1em;
        }
        .fMenu ul li, .widget05 p{
            font-size: 1em;
        }
        .widget05 button{
            font-size: 0.8em;
        }
    }
    
    @media screen and (max-width: 500px){
        .footerCon{
            padding: 0;
            margin: 0;
            height: fit-content;
            grid-template-columns: 100%;
        }
        .footerCon .col{
            width: 70%;
            margin:  0 auto;
        }
        .col #text-1 p img{
            width: 50px;
        }
        .col #text-1 p{
            font-size: 1em;
        }
        .col .widget{
            width: 100%;
        }
        .col .widget h4{
            font-size: 1em;
            padding-bottom: 10px;
        }
        .col #text-1{
            width: 100%;
        }
        .col #text-1 p:last-child{
            margin-bottom: 0;
        }
        .fMenu ul li, .widget05 p{
            font-size: 1em;
        }
        .footerCon .col01{
            padding-bottom: 10px;
        }
        .footerCon .col02, .footerCon .col03,.footerCon .col04{
            padding-bottom: 50px;
        }
    }

}
